/* mobile */
html {
  font-size: 5px;
}
/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 10px;
  }
}
/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 15px;
  }
}
/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 20px;
  }
}
.App {
  background: rgb(54, 190, 202);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  height: 6rem;
  border-bottom: 3px solid white;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  background: rgba(243, 92, 4, 0.993);
}
.logo {
  height: 5rem;
  width: 5rem;
  background: url("https://previews.123rf.com/images/kahovsky/kahovsky1712/kahovsky171200043/91317699-cute-smiling-funny-robot-chat-bot-in-speech-bubble-vector-modern-flat-cartoon-character-illustration.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid white;
}
.title {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin-left: 1.5rem;
}
.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  max-height: calc(100vh - 3rem - 6rem);
  min-height: calc(100vh - 3rem - 6rem);
}
.messageContainer {
  display: inline-flex;
  padding: .1rem;
}
.message {
  background: black;
  color: white;
  border-radius: .3rem;
  margin-left: -.25rem;
  padding: .2rem .5rem;
  overflow-wrap: break-word;

}
.pointer {
  width: 0; 
  height: 0; 
  border-top: .4rem solid transparent;
  border-bottom: .4rem solid transparent; 
  border-right:.7rem solid black;
  margin-left: 0 auto;

}
.name-picker {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.name-picker svg {
  stroke: white;
  cursor: pointer;
}
.name-picker-button {
  color: white;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}



